Que-1 What are data structures, and why are they important?
  Ans-1 Data struture is the why of writing the  program efficiently and to reduce the time complexity of the code and to minimise the size of the program so that it can handel the large data set and minmize the time.

Que-2  Explain the difference between mutable and immutable data types with examples?
  Ans-2 Mutable data type are the data set that can be changed after its assignment.
  Immutable data are the data type which cannot be changed after its assignment or new object will be created.

Que-3 What are the main differences between lists and tuples in Python?
  Ans-3 list and tuples are the same data struture in python which stores the hitroginous object.
  but list gives the support of object reassiginment in the list while tuple dont support the object reassingment.

Que-4  Describe how dictionaries store data?
  Ans-4 Dictionaries is the data struture which store the data in key value pair as an object. for ex jason.

Que-5 Why might you use a set instead of a list in Python?
  Ans-5 Set are preffered for the programs which do not require same objects in the set while list can be used for storing the object which have the same values.

Que-6 What is a string in Python, and how is it different from a list?
  Ans-6 String are the sequence of the character store and represent text and string are immutable while list is the collection of object represented by the lsit and list are mutable.

Que-7 How do tuples ensure data integrity in Python?
  Ans-7 tupes ensure data integrity by Immutability safety which means the objects inside the tupl cannot be changed once created.

Que-8 What is a hash table, and how does it relate to dictionaries in Python?
  Ans-8 Hash table is the data struture which store the data in the form of key value pair which help in the faster access to the vale with the reference of the key and In python distionaries are build on the hash table.

Que-9 Can lists contain different data types in Python3
  Ans-9 Yes, list can store different data type in python as it store hetroginious type of object.

Que-10  Explain why strings are immutable in Python?
  Ans-10 Strings are Immutable in python because all the type of the data in the program are taken in the form of string so improve the data credibility string are created as immutable.

Que-11 What advantages do dictionaries offer over lists for certain tasks?
  Ans-11 Dictionaries provide verious advantages over the list data struture which are as follow
    Faster accessiblity advantage because it store data in the key value pair while list store data in the index which provide faster traversal in dictionaries.
    Object creation in dictionaries provide the advantage of storing data of the objject in the form of key
    while in list we have to store data in the new list inside the main list.
    prevent dublicate key must be unique while in list dublicate value can be stored which is not always a bad thing, but not always useful.

Que-12 Describe a scenario where using a tuple would be preferable over a list?
  Ans-12 I would use tuple data struture for storing data which should not be changed once inserted in the tuple.

Que-13 How do sets handle duplicate values in Python?
  Ans-13 Sets handle duplicate values using hash table by assiging the hash value to the data and check for the rest of the data for the same hashcode.

Que-14 How does the “in” keyword work differently for lists and dictionaries?
  Ans-14 "In" used in list is prefered for searching the elemet present in the the list or not it uses linear search which done by traversal of the list which takes time.
  "In" used in dictionaries search for only key not for value which make it faster becase it uses hashing.

Que-15 Can you modify the elements of a tuple? Explain why or why not?
  Ans-15 No,we can't modify the element of he tuple because do not support mutibility of the objects.

Que16 What is a nested dictionary, and give an example of its use case?
  Ans-16 Nested dictionary is kind of dictionary were key will be pointing to the another dictionary where its key would be pointing to the value.

Que17 Describe the time complexity of accessing elements in a dictionary?
  Ans-17 Time complexity is the time taken by the program to finish its execution the best case time complexity of dictionary is O(1) which is the average time complexity.
  the worst time complexity would be O(n) when the key are not distriubted properly.

Que-18 In what situations are lists preferred over dictionaries?
  Ans-18 List are pefered when we want to do iteration of the object in a paticular order or when we want ordered data or when we don't want key-values pair.

Que-19 Why are dictionaries considered unordered, and how does that affect data retrieval?
  Ans-19 dictionaries do preserve the insertion order of the insertion but the logically dictionaries are buils=d for faster retrival but not for preserving order of the insertion.

Que-20  Explain the difference between a list and a dictionary in terms of data retrieval.
  Ans-20 The main difference between list and dictionary in terms of data retrieval of the element list uses index and while dictionay uses key for the retrival of the element.

In [1]:
#Que1 Write a code to create a string with your name and print it.
name = "Jay Sahu"
print(name)

Jay Sahu

In [2]:
#Que-2  Write a code to find the length of the string "Hello World".
variable1 = "Hello World"
len(variable1)

11

In [5]:
#Que-3 Write a code to slice the first 3 characters from the string "Python Programming".
variable2 = "Python Programming"
variable2[0:3]

'Pyt'

In [6]:
#Que-4 Write a code to convert the string "hello" to uppercase.
variable3 = "hello"
variable3.upper()

'HELLO'

In [8]:
# Que 5 Write a code to replace the word "apple" with "orange" in the string "I like apple".
variable4 = "I Like apple"
variable4.replace("apple","orange")

'I Like orange'

In [9]:
# Que-6 Write a code to create a list with numbers 1 to 5 and print it.
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [10]:
# Que-7 Write a code to append the number 10 to the list [1, 2, 3, 4].
list1.append(10)
print(list1)

[1, 2, 3, 4, 5, 10]

In [13]:
# Que-8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list2 = [1,2,3,4,5]
list2.remove(3)
print(list2)

[1, 2, 4, 5]

In [14]:
# Que-9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list3 = ['a', 'b', 'c', 'd']
list3[1]

'b'

In [15]:
# Que-10 Write a code to reverse the list [10, 20, 30, 40, 50].
list4 = [10, 20, 30, 40, 50]
print(list4[::-1])

[50, 40, 30, 20, 10]

In [16]:
# Que-11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple1 = (100,200,300)
print(tuple1)

(100, 200, 300)

In [22]:
from pickle import TUPLE2
# Que-12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple2 = ("red","green","blue","yello")
print(tuple2[-2])

blue

In [27]:
# Que-13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple3 = (10,20,5,15)
min(tuple3)

5

In [28]:
# Que-14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple4 = ('dog', 'cat', 'rabbit')
print(tuple4.index("cat"))

1

In [33]:
# Que15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple5 = ("Orange","Banana","kiwi")
if("kiwi" in tuple5):
  print("Kiwi is present")
else:
  print("Kiwi is absent")

Kiwi is present

In [34]:
# Que-16  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {"a","b","c"}
print(set1)

{'c', 'a', 'b'}

In [35]:
# Que-17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set2 = {1,2,3,4,5}
set2.clear()
print(set2)

set()

In [36]:
#Que-18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set3 = {1,2,3,4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [40]:
#Que-19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set4 = {1,2,3}
set5 = {3,4,5}
set6 = set4.union(set5)
print(set6)

{1, 2, 3, 4, 5}

In [42]:
# Que-20  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set7 = {1,2,3}
set8 = {2,3,4}
set9 = set7.intersection(set8)
print(set9)

{2, 3}

In [44]:
# Que-21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dictionary1 = {
    "name": "Jay",
    "age": 24,
    "city": "Bhopal"
}
print(dictionary1)

{'name': 'Jay', 'age': 24, 'city': 'Bhopal'}

In [46]:
# Que-22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
disctionary2 = {
    "name" : "John",
    "age" : 25
}
disctionary2["country"] = "USA"
print(disctionary2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [47]:
# Que-23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dictionary3 = {
    "name" : "Alice",
    "age" : 30
}
print(dictionary3["name"])

Alice

In [48]:
# Que-24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dictionary4 = {
    "name" : "Bob",
    "age" : 22,
    "city" : "New York"
}
del dictionary4["age"]
print(dictionary4)

{'name': 'Bob', 'city': 'New York'}

In [49]:
# Que-25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dictionary5 = {
    "name" : "Alice",
    "city" : "Paris"
}
if("city" in dictionary5):
  print("City is present")
else:
  print("City is absent")

City is present

In [50]:
# Que-26 Write a code to create a list, a tuple, and a dictionary, and print them all.
list9 = [1,2,3,4,5]
tuple9 = (1,2,3,4,5)
dictionary9 = {
    "name" : "Jay",
    "age" : 24,
    "city" : "Bhopal"
}
print(list9)
print(tuple9)
print(dictionary9)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Jay', 'age': 24, 'city': 'Bhopal'}

In [53]:
# Que-27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)
list10 = [98,65,34,6,21]
list10.sort()
print(list10)

[6, 21, 34, 65, 98]

In [54]:
# Que-28 Write a code to create a list with strings and print the element at the third index.
list11 = ["Jay","Sahu","Bhopal"]
print(list11[2])

Bhopal

In [55]:
# Que-29  Write a code to combine two dictionaries into one and print the result.
dictionary6 = {
    "name" : "Jay",
    "age" : 24
}
dictionary7 = {
    "city" : "Bhopal",
    "country" : "India"
}
dictionary8 = dictionary6.copy()
dictionary8.update(dictionary7)
print(dictionary8)

{'name': 'Jay', 'age': 24, 'city': 'Bhopal', 'country': 'India'}

In [56]:
# Que-30 Write a code to convert a list of strings into a set.
list12 = ["Jay","Sahu","Bhopal"]
set10 = set(list12)
print(set10)

{'Sahu', 'Bhopal', 'Jay'}